.header {
    background-color: blueviolet;
    height: 160px;
    width: 100%;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 50px;
    box-sizing: border-box;
}

.virat {
    width: 120px;
    height: auto;
    border-radius: 6px;
}
